


/* --------------------------------------------------- */
/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------------------- */

:root {
    --solitude-blue:#E1F0FF;
    --aztec-black:#1F1F1F;
    --resolution-blue:#2E3192;
    --concrete-white:#F2F2F2;
    --accent:#F8BE07;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--concrete-white); /* Color gris claro de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 10px; /* Espacio suficiente para el header fijo */
    color: var(--aztec-black);
    background: #F2F2F2;
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(225, 240, 255, 1) 50%, rgba(242, 242, 242, 1) 100%);
}

/* Capa del halo */
#halo {
  position: fixed;
  inset: 0;                   /* cubre toda la ventana */
  pointer-events: none; 
  z-index: -9999;          /* ← siempre por encima de todo */
  --x: 50%;
  --y: 50%;

  /* Círculo azul suave en var(--x var(--y) */
  background: radial-gradient(
      circle 140px at var(--x) var(--y),
      rgba(89, 162, 246, 0.45) 0%,     /* centro azul luminoso */
      rgba(169, 209, 255, 0.25) 30%,
      rgba(178, 214, 255, 0)    70%
  );

  /* Transición suave opcional */
  transition: background-position; /* 0.2 s de retardo */
}


h1{
    font-size: clamp(1.8rem, 1vw + 0.7rem, 2rem);
    font-weight: 600;
    margin-bottom: .8em;
    text-shadow: #2E319220 -4px 4px 5px ;
}

h2{
    font-size: clamp(1rem, 1vw + 0.6rem, 2rem);
    font-weight: 600;
    text-shadow: #2E319220 -4px 4px 5px ;
}


a {
    text-decoration: none;
    color: var(--aztec-black);
}

span{
    color: var(--resolution-blue);
}

.tag{
    color: var(--concrete-white);
    background-color: var(--resolution-blue);
    padding: .5em;
    border-radius: 5px;
    font-size: .8em;
}

p{
  font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
  line-height: 1.5em;
}

a:hover{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: var(--resolution-blue);
}

/* --------------------------------------------------- */
/* Estilo del header y navbar */
/* --------------------------------------------------- */
header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: -4px 4px 15px -10px var(--resolution-blue);
    background-color: #F2F2F280;
    backdrop-filter: blur(10px); /* Efecto blur */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    padding: 0px 20px;
    position: sticky;
    z-index: 1000; /* Asegura que el header quede por encima de otros elementos */
    top: 0; /* Fija el header en la parte superior */
    flex-wrap: wrap;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-right a{
    color: var(--aztec-black);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-size: clamp(1.2rem, 1vw + 0.7rem, 2rem)
}

.navbar-right a:hover{
    background-color: var(--solitude-blue);
    color: var(--resolution-blue);
    box-shadow: -4px 4px 15px -10px var(--resolution-blue);

    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.navbar img{
    height: 50px;
}
/* --------------------------------------------------- */

/* --------------------------------------------------- */
/* Estilo del footer */
/* --------------------------------------------------- */

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--solitude-blue);
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    flex-wrap: wrap;
    gap: 50px;
}
/* --------------------------------------------------- */

/* --------------------------------------------------- */
/* Estilo del section content */
/* --------------------------------------------------- */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

/* --------------------------------------------------- */
/* Estilo del section personal-info */
/* --------------------------------------------------- */
.personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 1em;
    margin-bottom: 2em;
}

.personal-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;  /* Centra horizontalmente en cada línea */
    gap: 20px;  
}

.personal-profile-left img{
    width: 120px;
    border-radius: 50%;
    box-shadow: -4px 4px 15px -10px var(--resolution-blue);

}

.personal-profile-right h1{
    margin-bottom: 20px;
    font-size: clamp(1.8rem, 1vw + 0.7rem, 2rem);
}

.personal-profile-right p{
    font-size: clamp(1.2rem, 1vw + 0.4rem, 2);
    margin-bottom: 1.5em;
    text-shadow: #2E319230 -4px 4px 5px ;
}

.personal-description p{
    margin-bottom: 20px;
    line-height: 1.5em;
}
/* --------------------------------------------------- */

/* --------------------------------------------------- */
/* Estilo del section experience-container */
/* --------------------------------------------------- */
.experience-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 1em;
    margin-bottom: 2em;

}

.experience-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    gap: 50px;  
}

.experience-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0px;
    justify-content: center;  /* Centra horizontalmente en cada línea */
    align-items: center;      /* Centra verticalmente si el contenedor tiene altura */
    gap: 20px;  
}

.experience-element-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;  /* Centra horizontalmente en cada línea */
    align-items: center;  
    gap: 20px;    /* Centra verticalmente si el contenedor tiene altura */
}

.experience-element-info-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
}

.experience-element-info-img{
    margin-right: 20px;
}

.experience-element-info img{
    width: 120px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: -4px 4px 10px 0px #2E319230;
}

.experience-element-description{
    font-size: clamp(1.2rem, 1vw + 0.4rem, 2);
    margin-bottom: 20px;
    line-height: 1.5em;
}

/* --------------------------------------------------- */
/* Estilo del section projects-container */
/* --------------------------------------------------- */

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 1em;
    margin-bottom: 1em;
}

.projects-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0px;
    gap: 50px;  
    flex-wrap: wrap;
}

.project-element{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    max-width:600px;
    background-color: var(--solitude-blue);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -4px 4px 15px -10px var(--resolution-blue);
}

.project-element-image{
    width: 100%;

    overflow: hidden;
}

.project-element-image img{
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.project-element-info{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.project-element-info-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}
/* --------------------------------------------------- */
/* Estilo del section cover */
/* --------------------------------------------------- */

header{
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 1em;
}

header p{
    font-size: clamp(1.2rem, 1vw + 0.8rem, 1.6rem);
}

header h1{
    font-size:  clamp(1.8rem, 1vw + 1.8rem, 4rem);
}

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    margin-bottom: 2em;
    border-radius: 10px;
    overflow: hidden;
    padding: 1em;

}
.cover-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    gap: 20px;  
    transition: all 0.3s ease-in-out;
    box-shadow: -4px 4px 15px -10px #2E319290;
    border-radius: 10px;
    overflow: hidden;
}

.cover-link:hover{
    background-color: var(--concrete-white);
    color: var(--resolution-blue);
    box-shadow: -4px 4px 15px -10px var(--resolution-blue);
    transform: translateY(-6px);
    transition: all 0.3s ease-in-out;
}


.cover-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
}

.cover-info p{
    font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
}

.cover-info-head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}

.cover-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 35vh;
    overflow: hidden;
}


.cover-img img{
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

}

/* --------------------------------------------------- */
/* Estilo del section posts */
/* --------------------------------------------------- */

.posts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 1em;
    margin-bottom: 1em;
}

.all-posts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
    gap: 1.5em;
} 

.post-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    background-color: var(--solitude-blue);
    border-radius: 5px;

}

.post-link {
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: -4px 4px 15px -10px #2E319250;

}

.post-link:hover{
    background-color: var(--concrete-white);
    color: var(--resolution-blue);
    box-shadow: -4px 4px 15px -10px var(--resolution-blue);
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.post-info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1em;
  font-size: clamp(.75rem, 1vw + 0.2rem, 1rem);
  text-wrap: normal;
}

.post-info-head{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 0.8em;
}

.post-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  max-width: 150px;
  min-width: 50px;
  min-height: 50px;
  max-height: 150px;
  overflow: hidden;
  aspect-ratio: 1 / 1; /* Esto asegura que sea cuadrado */
  margin: .5em;
  border-radius: 2px;
}

.post-img img{
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1; /* Esto asegura que sea cuadrado */
}

/* --------------------------------------------------- */
/* Estilo del section post-site */
/* --------------------------------------------------- */


.post-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 1em;
    margin: 1em;
}

.post-site-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 1em;
    margin: 1em;
}

.post-site-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    overflow: hidden;
}

.post-site-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 35vh;
    overflow: hidden;
}

.post-site-img img{
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}


/* Solo mostramos el halo cuando el dispositivo soporta hover (PC, laptop, etc.) */
@media (hover: hover) and (pointer: fine) {
  #halo { display: block; }      /* halo visible */
}

/* En móviles (sin hover o con pointer grueso) lo ocultamos */
@media (hover: none) or (pointer: coarse) {
  #halo { display: none; }       /* halo invisible */
}
