/* --------------------------------------------------- */
/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #25415C;
    --color-hover: #65819C;    
    --color-secundario: #5dadec;  
    --color-fondo:#A5C1DC;  
    --white-color:#f1f5f9;  
}

body {
    font-family: "Inter",'Courier New', Courier, monospace;
    background-color: var(--color-fondo); /* Color gris claro de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 10px; /* Espacio suficiente para el header fijo */
    color: #f1f5f9;
}


header {
    width: 100%;
    z-index: 1000; /* Asegura que el header quede por encima de otros elementos */
    display: grid;
    grid-template-columns: 1fr 60% 1fr; /* Tres columnas: la del centro será del 60% del ancho */
    position: sticky;
    top: 0;
    align-items: center; /* Centrar verticalmente el contenido en cada celda */
    background-color: var(--color-principal); /* Fondo oscuro */
}


.header-container {
    grid-column: 2 / 3; /* Asegura que el contenedor esté en la segunda columna */
    display: flex;
    justify-content:space-between; /* Espacio entre el título y el nav */
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.hd-title {
    font-size: 2.5rem; /* Ajusta el tamaño de la fuente según lo que necesites */
    font-weight: bold;

}

a{
  color: var(--white-color);
}

.navbar {
    list-style: none; /* Quitar los puntos de lista */
    display: flex;
    justify-content: center; /* Centrar los elementos del navbar */
    gap: 15px; /* Espacio entre los elementos */
}

.navbar li {
    font-size: 1.2rem;
    font-weight: normal;
}

.navbar li a {
    text-decoration: none; /* Quitar el subrayado */
    color: #f1f5f9; /* Color de los enlaces */
    padding: 5px; /* Espaciado dentro de los enlaces */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px; /* Bordes redondeados */
}

.navbar li a:hover {
    background-color: #3e525f; /* Color al pasar el mouse */
    color: #94D3CE; /* Cambia el color del texto al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
}

/* --------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
}

/* portfolio --------------------------------*/
.desc {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    max-width: 1000px;
    min-width: 280px;
    width: 60%;
    /* Para pantallas más pequeñas */
    background-color: var(--color-principal); /* Fondo oscuro */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.post {
  min-width: 280px;
  width: 70%;
  padding: 20px;
  margin-bottom: 20px;
}



.post-image {
    width:250px; 
    
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.me_photo{
  width:250px; 
  border-radius: 40%;
}

.post-image a {

    text-decoration: none;
    padding: 10px;
}

.social-icons{
    display: flex;
    flex-direction: row;
}

.social-icons i{
color: var(--color-fondo);
}

.social-icons i:hover{
    color: var(--color-secundario);
}


.post h2 {
  font-size: clamp(1.5rem,1.5vw + .5rem, 2rem);
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-secundario); /* Color verde claro */
}

.post p {
    font-size: clamp(0.8rem,1.5vw + .5rem, 1.2rem);
    line-height: 1.5;
}

/*portafolio ----------------------------------------------------------------------------------------*/

.puesto{
    font-size:1em;
    color:#ae94d3;
}

.skills{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 60%;
    max-width: 1000px;
    color: #27343C;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .skills h2{
    margin-top: 1rem;
  }

  .tag-cloud {
    display: inline-block;
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    background-color: var(--color-principal);
    transition: background-color 0.3s ease, color 0.3s ease;

    margin: 5px;
  }

  .tag-cloud:hover {
    background-color: var(--color-hover);
  }

.container {
    background-color: #F1F5F9;
    border-radius: 5px;
    padding: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .container p {
    font-size: clamp(0.8rem,1.5vw + .5rem, 1rem);
  }
  
  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  } 


  div.gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    
  }
  

  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  

  .more{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-hover);

  }
  .more:hover{
 
    background-color: var(--color-secundario);

  }
  
  .desc-gallery {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: clamp(0.5rem,1.5vw + .5rem, 1em);
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    background-color: var(--color-principal);
    margin-top: 25px;
    min-width: 280px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /*contacto*/

  .contact {
    width: 100%;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}


.social-contact {
    text-align: center;
    width: 70%;
    min-width: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-contact a {
    text-decoration: none;
    font-size: 1.2em;
}

.social-contact .social-icons i{
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.social-contact .social-icons i:hover{
    color: var(--color-hover);
}

.social-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;

}

.social-title a{
  color: var(--color-secundario);
}

/*posts styles ------------------------------------------------------------------*/



.posts{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 280px;
    max-width: 600px;
}

.posts-head img{
  height: 100%;
  width: auto;
  
}

.posts-img {
  background-color: var(--color-principal);
  width: 100%;
  height: auto;
  max-height:300px ;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.posts-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  min-width: 280px;
  border-radius: 10px;

}


.post-title{
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px; 
  margin-top: 10px; 
  border-radius: 10px;
  height: 100%;
  width: 100%;
  min-width: 280px;
}

.posts h2{
    font-size: clamp(1rem,1.5vw + 1rem, 5rem);
    color: var(--color-principal);
    padding-bottom: 10px;
}
.posts .content{
  font-size: clamp(1.2rem,1.5vw + .5rem, 1.4rem);
}

.posts-head p{
  font-size: clamp(1.2rem,1.5vw + .5rem, 1.6rem);
  padding-bottom: 10px;
}

.date{
    color: #333;
    font-size: 2em;

}

.author{
    color: var(--color-principal);
    font-size: 1.5em;
}

.content{
    color: var(--color-principal);
    font-size: 1.5em;
    padding: 25px 0px;
    min-width: 280px;
}

.posts .content h2,h3{
  padding: 40px;
}

.posts .content p{
  padding: 10px;
}


a{
    text-decoration: none;
}

.post-element{
    width: 25%;
}

/*Landing page --------------------------*/

.landing-msg h2{
  font-size: clamp(2rem,4.5vw + .5rem, 3rem);
  color: var(--color-principal);
  padding-bottom: 10px;
}

.landing-msg p{
  font-size: clamp(1.2rem,1.5vw + .5rem, 1.8rem);
  color: var(--color-principal);
}

.landing-img{
  width: 100%;
  overflow: hidden;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.landing-img img{
  width: 100%;
  height: auto;
  min-width: 600px;
  border-radius: 10px;
  align-self: center;
}

.landing-msg-container{
  padding: 40px;
  width: 80%;
}

.landing-msg{
  padding-bottom: 20px;
}

.blog-title-container{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.blog-title{
  font-size: xx-large;
  color: var(--color-principal);
}

.blog-title-description{
  margin-bottom: 10px;
  color: var(--color-principal);
  font-size: clamp(1.2rem,1.5vw + .5rem, 1.5rem);
}


/* posts-list*/

.posts-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 70%;
}

.pst-format-container{
  width: 30%;
  min-width: 280px;
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 10px;

}


.pst-format-container img{
  width: 100%;
  height: auto; 
  max-height: 300px;
  margin: 0px;
  padding: 0px;
  transition: transform 0.3s ease; /* Suaviza la animación */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
 
.pst-format-container:hover img {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen */
}

.pst-courses-item_title{
  color:#5DADEC;
  font-size:xx-large;
  font-weight: bold;
  padding-bottom:20px ;
}

.pst-courses-item_date-box{
  margin:0px;
  padding: 0px;
}

.pst-courses-item_date{
  color: #AE94D3;
  font-size:medium;
}

.pst-description{
  color: var(--white-color);
}

.pst-header{
  padding: 20px 20px;
  height: 100%;
}

.ag-courses-item_link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-principal);
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
}

.ag-courses-item_link:hover .pst-courses-item_title{
 color: #007bff;
}

.pst-img-containter{
  padding: 0px;
  margin: 0px;
}

