<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<div id="halo"></div>
<body>
    <section class="navbar">
            <div class="navbar-left">
                <a href="/" class="logo">
                    <img src="/assets/svg/logo.svg" alt="BINADRISH"/>
                </a>
            </div>
            <div class="navbar-right">
                <a href="/">Inicio</a>
                <a href="/about">Acerca de</a>
            </div>
    </section>

    <section class="content">
        {{ content }}
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <a href="/" class="logo">
                    <img src="/assets/svg/logo.svg" alt="BINADRISH" height="35" />
                </a>
                <p >Hecho por <a href="/about">AdrianGR</a></p>
            </div>
            <div class="footer-right">
                <div class="social-icons" style="padding-bottom: 20px;">
                    <a href="https://github.com/binadrish" target="_blank">
                        <i class="fab fa-github" style="font-size: 1.5em; padding-right: 10px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/dev-adriangr/" target="_blank" >
                        <i class="fab fa-linkedin" style="font-size: 1.5em; padding-right: 10px;"></i>
                    </a>
                    <!-- <a href="https://medium.com/@dev.adriangr" target="_blank">
                        <i class="fab fa-medium" style="font-size: 1.5em;"></i>
                    </a> -->
                    <a href="https://x.com/binadrish" target="_blank">
                        <i class="fab fa-twitter" style="font-size: 1.5em; "></i>
                    </a>   
                </div>

                <div class="footer-mail">
                    <a href="mailto:dev.adriangr@gmail.com">
                        <i class="fas fa-envelope" style="font-size: 1.5em;"></i>
                        dev.adriangr@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
</body>
<script src="/assets/js/cursorAnimation.js"></script>


</html>

