<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-tomorrow.min.css" rel="stylesheet" />

</head>

<body>
    <div id="halo"></div>
    <section class="navbar">
            <div class="navbar-left">
                <a href="/" class="logo">
                    <img src="/assets/svg/logo.svg" alt="BINADRISH"/>
                </a>
            </div>
            <div class="navbar-right">
                <a href="/">Inicio</a>
                <a href="/about">Acerca de</a>
            </div>
    </section>
    <section class="content">
        <section class="post-site">
            <div class="post-site-head">
                <div class="post-site-title">
                    <h2>{{ page.title }}</h2>
                    <div class="post-site-date">
                    <span>{% include fecha_es.html date=page.date %}</span>
                    </div>
                    <div class="post-site-author">
                    <p class="author">{{page.author}}</p>
                    </div>
                    <div class="post-site-description">
                        <p>
                        {{ page.excerpt }}
                        </p> 
                    </div>
                    <div class="post-site-tag">
                        {% for cat in page.categories %}
                            <span class="tag">{{ cat }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="post-site-img">
                    {% if page.img %}
                        <img src="{{ page.img }}" alt="{{ page.title }}">
                    {% endif %}  
                </div>
            </div>
            <div class="post-site-content">
                {{ content }}
            </div>
        </section>
    </section>

     <footer>
        <div class="footer-container">
            <div class="footer-left">
                <a href="/" class="logo">
                    <img src="/assets/svg/logo.svg" alt="BINADRISH" height="50" />
                </a>
                <p >Hecho por <a href="/about">AdrianGR</a></p>
            </div>
            <div class="footer-right">
                <div class="social-icons" style="padding-bottom: 20px;">
                    <a href="https://github.com/binadrish" target="_blank">
                        <i class="fab fa-github" style="font-size: 1.5em; padding-right: 10px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/dev-adriangr/" target="_blank" >
                        <i class="fab fa-linkedin" style="font-size: 1.5em; padding-right: 10px;"></i>
                    </a>
                    <!-- <a href="https://medium.com/@dev.adriangr" target="_blank">
                        <i class="fab fa-medium" style="font-size: 1.5em;"></i>
                    </a> -->
                    <a href="https://x.com/binadrish" target="_blank">
                        <i class="fab fa-twitter" style="font-size: 1.5em; "></i>
                    </a>   
                </div>

                <div class="footer-mail">
                    <a href="mailto:dev.adriangr@gmail.com">
                        <i class="fas fa-envelope" style="font-size: 1.5em;"></i>
                        dev.adriangr@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Antes de cerrar </body> -->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-python.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-javascript.min.js"></script>

    
</body>
<script src="/assets/js/cursorAnimation.js"></script>
<script src="/assets/js/copyButton.js"></script>
</html>

